<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcs.dao.SendSignInMapper">
    <resultMap id="BaseResultMap" type="com.pcs.pojo.SendSignInDTO">
        <id column="ss_id" jdbcType="INTEGER" property="ssId" />
        <result column="c_id" jdbcType="INTEGER" property="cId" />
        <result column="c_number" jdbcType="VARCHAR" property="cNumber" />
        <result column="c_name" jdbcType="VARCHAR" property="cName" />
        <result column="pe_id" jdbcType="INTEGER" property="peId" />
        <result column="ss_type" jdbcType="INTEGER" property="type" />
        <result column="ss_date" jdbcType="TIMESTAMP" property="date" />
        <result column="ss_value" jdbcType="INTEGER" property="value" />
        <result column="ss_limitdis" jdbcType="DOUBLE" property="limitdis" />
        <result column="ss_time" jdbcType="INTEGER" property="limitime" />
        <result column="ss_position_x" jdbcType="DOUBLE" property="position_x" />
        <result column="ss_position_y" jdbcType="DOUBLE" property="position_y" />
        <result column="ss_state" jdbcType="INTEGER" property="state" />
    </resultMap>
    <sql id="Base_Column_List">
        ss_id, c_id, c_number, c_name, pe_id, ss_type, ss_date, ss_value, ss_limitdis, ss_time, ss_position_x, ss_position_Y, ss_state
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from send_signin
        where ss_id = #{ssId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from send_signin
        where ss_id = #{ssId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.pcs.pojo.SendSignInDTO">
        insert into send_signin (ss_id, c_id, c_number, c_name, pe_id,
                                 ss_type, ss_date, ss_value, ss_limitdis,
                                 ss_time, ss_position_x, ss_position_y, ss_state)
        values (#{ssId,jdbcType=INTEGER},
                #{cId,jdbcType=INTEGER},
                #{cNumber,jdbcType=VARCHAR},
                #{cName,jdbcType=VARCHAR},
                #{peId,jdbcType=INTEGER},
                #{type,jdbcType=INTEGER},
                #{date,jdbcType=TIMESTAMP},
                #{value,jdbcType=INTEGER},
                #{limitdis,jdbcType=DOUBLE},
                #{limitime,jdbcType=INTEGER},
                #{position_x,jdbcType=DOUBLE},
                #{position_y,jdbcType=DOUBLE},
                #{state,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.pcs.pojo.SendSignInDTO">
        insert into send_signin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ssId != null">
                ss_id,
            </if>
            <if test="cId != null">
                c_id,
            </if>
            <if test="cNumber != null">
                c_number,
            </if>
            <if test="cName != null">
                c_name,
            </if>
            <if test="peId != null">
                pe_id,
            </if>
            <if test="type != null">
                ss_type,
            </if>
            <if test="date != null">
                ss_date,
            </if>
            <if test="value != null">
                ss_value,
            </if>
            <if test="limitdis != null">
                ss_limitdis,
            </if>
            <if test="limitime != null">
                ss_time,
            </if>
            <if test="position_x != null">
                ss_position_x,
            </if>
            <if test="position_y != null">
                ss_position_y,
            </if>
            <if test="state != null">
                ss_state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ssId != null">
                #{ssId,jdbcType=INTEGER},
            </if>
            <if test="cId != null">
                #{cId,jdbcType=INTEGER},
            </if>
            <if test="cNumber != null">
                #{cNumber,jdbcType=VARCHAR},
            </if>
            <if test="cName != null">
                #{cName,jdbcType=VARCHAR},
            </if>
            <if test="peId != null">
                #{peId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="date != null">
                #{date,jdbcType=TIMESTAMP},
            </if>
            <if test="value != null">
                #{value,jdbcType=INTEGER},
            </if>
            <if test="limitdis != null">
                #{limitdis,jdbcType=DOUBLE},
            </if>
            <if test="limitime != null">
                #{limitime,jdbcType=INTEGER},
            </if>
            <if test="position_x != null">
                #{position_x,jdbcType=VARCHAR},
            </if>
            <if test="position_y != null">
                #{position_y,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.pcs.pojo.SendSignInDTO">
        update send_signin
        <set>
            <if test="cId != null">
                c_id = #{cId,jdbcType=INTEGER},
            </if>
            <if test="cNumber != null">
                c_number = #{cNumber,jdbcType=VARCHAR},
            </if>
            <if test="cName != null">
                c_name = #{cName,jdbcType=VARCHAR},
            </if>
            <if test="peId != null">
                pe_id = #{peId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                ss_type = #{type,jdbcType=INTEGER},
            </if>
            <if test="date != null">
                ss_date = #{date,jdbcType=TIMESTAMP},
            </if>
            <if test="value != null">
                ss_value = #{value,jdbcType=INTEGER},
            </if>
            <if test="limitdis != null">
                ss_limitdis = #{limitdis,jdbcType=DOUBLE},
            </if>
            <if test="limitime != null">
                ss_time = #{limitime,jdbcType=INTEGER},
            </if>
            <if test="position_x != null">
                ss_position_x = #{position_x,jdbcType=VARCHAR},
            </if>
            <if test="position_y != null">
                ss_position_y = #{position_y,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                ss_state = #{state,jdbcType=INTEGER},
            </if>
        </set>
        where ss_id = #{ssId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pcs.pojo.SendSignInDTO">
        update send_signin
        set c_id = #{cId,jdbcType=INTEGER},
            c_number = #{cNumber,jdbcType=VARCHAR},
            c_name = #{cName,jdbcType=VARCHAR},
            pe_id = #{peId,jdbcType=INTEGER},
            ss_type = #{type,jdbcType=INTEGER},
            ss_date = #{date,jdbcType=TIMESTAMP},
            ss_value = #{value,jdbcType=INTEGER},
            ss_limitdis = #{limitdis,jdbcType=DOUBLE},
            ss_time = #{limitime,jdbcType=INTEGER},
            ss_position_x = #{position_x,jdbcType=VARCHAR},
            ss_position_y = #{position_y,jdbcType=VARCHAR},
            ss_state = #{state,jdbcType=INTEGER}
        where ss_id = #{ssId,jdbcType=INTEGER}
    </update>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM send_signin ORDER BY
            ss_id DESC
    </select>

    <select id="remindOneButtonSignIn" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from send_signin
        where c_id = #{cId,jdbcType=INTEGER} and pe_id = #{peId,jdbcType=INTEGER} and ss_type = 1 and ss_state = 1
    </select>

    <select id="remindLimitTimeSignIn" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from send_signin
        where c_id = #{cId,jdbcType=INTEGER} and pe_id = #{peId,jdbcType=INTEGER} and ss_type = 2 and ss_state = 1
    </select>

    <select id="selectBycId" parameterType="com.pcs.pojo.SignInDTO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from send_signin
        where pe_id = #{peId,jdbcType=INTEGER} and c_id = #{cId,jdbcType=INTEGER}
    </select>

    <select id="JudgeSignInBycId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from send_signin
        where c_id = #{cId,jdbcType=INTEGER} and ss_state = 1
    </select>

</mapper>